<% if user_signed_in? %>
	<h1>Sup Bitch</h1>
	<% else %>
		<div class="hero-unit">
			<h1>Welcome to OMRails!</h1>
			<p>
				You've found the home page for the
				<%= link_to "OMRails", "http://onemonthrails.com"%>
				application
			</p>
			<p>
				<%= link_to "sign up now", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
		</div>
<% end %>